/* Style */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);


::selection {
	background: #333;
	color: #FFF;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
}

/* --------------------------
	Body
----------------------------- */

body {
/*  font-family: 'Open Sans', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
	background: url('../images/navy_blue.png');
	padding: 0;
	margin: 0;
/*  border-top: 10px solid #9d2e2c;*/
/*  border-top: 10px solid #AA1111;*/
}

/* --------------------------
	Global Text Colours
----------------------------- */

.light *{
  color: #999;
}

.red *{
  color: #CC1111;
}

.dark *{
  color: #333;
}



.link_light a {
  color: #999;
}

.link_red a {
  color: #CC1111;
  transition: 0.3s;
}

.link_dark a {
  color: #333;
}

.link_hover_light a:hover {
  color: #999;
}

.link_hover_red a:hover {
  color: #CC1111;
}

.link_hover_dark a:hover {
  color: #333;
}

.link_light_trans a {
  color: #999;
  transition-property: color;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

.link_red_trans a {
  color: #CC1111;
  transition-property: color;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;  
}

.link_dark_trans a {
  color: #333;
  transition-property: color;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;  
}

.link_hover_light_trans a:hover {
  color: #999;
  transition-property: color;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;  
}

.link_hover_red_trans a:hover {
  color: #CC1111;
  transition-property: color;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;  
}

.link_hover_dark_trans a:hover {
  color: #333;
  transition-property: color;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;  
}

.link_underline a {
  text-decoration: underline;
}



.textBackground {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
}

.color_transition {
  transition-property: color;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

/* --------------------------
	Pages Nav Bar
----------------------------- */
/*<nav id="pages_nav">
  <ul>
    <li>About</li>
    <li>CV</li>
    <li>Nav Link</li>
  <ul>
</nav>*/
#pages_nav ul li:not(:first-child):before{
	color: #333;
}

#pages_nav {
  background-color: #AA1111;
  top: 0;
	left: 0;
	right: 0; 
  margin-bottom: 20px;
}
#pages_nav ul {
  padding:5px;
}

.home {
  position: absolute;
  top: -25px;
  left: 15px;
  font-weight: 300;
	font-size: 350%;

}

/* --------------------------
	Containers
----------------------------- */


/*pages*/
.page_container {
  width: 480px;
  margin: 10px auto;
  -webkit-transform: translateZ(0);
}


/*main portfolio & projects*/
.container {
	width: 960px;
	margin: 10px auto;
	-webkit-transform: translateZ(0);
}

a {
  text-decoration: none;
}



/* --------------------------
	Header
----------------------------- */

header {
  position: relative;
	text-align: center;
	font-weight: 300;
	font-size: 350%;
	color: #999;
}

.pageHeader {
  margin: 30px 0px;
}

/* --------------------------
	Footer
----------------------------- */

footer {
	text-align: center;
	height: 100px;
	line-height: 100px;
	color: #999;
	clear: both;
}

/* --------------------------
	Navigation
----------------------------- */

nav ul {
	list-style: none;
	padding: 0;
/*  margin: 50px 0;*/
  margin: 0;
	text-align: center;
}

nav ul li {
	display: inline;
	cursor: pointer;
	margin-right: 10px;
	color: #999;

	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li:hover {
	color: #CC1111;
}

nav ul li:hover:after {
/*  color: #999;*/
}

nav ul li:not(:first-child):before{
  margin-right: 10px;
	content: '|';
	color: #999;
}

/* --------------------------
	Main Image Box
----------------------------- */

.work {
	margin: 20px 0;
}

.work figure {
	float: left;
	margin: 20px;
  width: 200px;
  height: 200px;
/*  background: #9d2e2c;*/
  background: #333333;
	line-height: 200px;
/*  -webkit-filter: sepia(0.3);*/
	position: relative;
	padding: 0 !important;
	
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);	

	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	-ms-transition: 0.6s;
}

.work figure a img {
	height: 100%;
	width: 100%;
}

.work figure dl {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 10px;
	margin: 0;
	line-height: 2.5; 
	background: rgba(0, 0, 0, 0.8);
	color: white;

	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	-ms-transition: 0.6s;
}

.work figure:hover dl {
	opacity: 1;
}

.work figure dl dt {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow';
	font-size: 12px;
	margin-bottom: -8px;
	margin-top: -3px;
}

.work figure dl dd {
	margin-left: 0;
  line-height: 1.2;
}

.current-li {
  color: #CC1111;
}

.current {
	-webkit-filter: sepia(0) !important;

	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.not-current {
	-webkit-transform: scale(0.75);	
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);

	-webkit-filter: grayscale(1) !important;
}

.not-current:hover dl {
	opacity: 0 !important;
}

/* --------------------------
	Project
----------------------------- */

.project {
	text-align: center;
	color: #999;
}

.project img {
  width: 600px;
}

.nav {
/*  color: #999;*/
}

.nav:hover {
/*  color: #AA1111;*/
}

summary a {
	color: #999;
}

summary a:hover {
	color: #AA1111;
}

.instruction {
  display: none;
}